
@import './fonts/font.scss';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};


body {
  background-color: #e7ecf2;
}

section {
  padding-left: 40px;
  text-align: starts;
}
